h2 {
  margin: 20px;
}

form {
  padding: 20px;

  .input-container {
    display: flex;
    justify-content: center;
    gap: 20px;

    .email-form-field {
      width: 350px;
    }
  }

  .close-button {
    margin-right: 10px;
  }
}
