.student-list-container {
  height: 100%;
  padding: 20px;

  .create-button-container {
    margin: 10px;
  }

  .mat-column-name,
  .mat-column-email,
  .mat-column-address {
    width: 30%;
  }

  .mat-column-buttons {
    width: 10%;
  }

  .modify-button-container {
    display: flex;
  }
}
